table{
    background-color: rgb(249, 249, 250);
    border: 3px solid rgb(250, 248, 248);
}
th , td {
    border: 1px solid rgb(214, 212, 212) ;
    color: black;
}
.increment{
    padding: .5px;
    
}
.commande{
    text-align: center;
    border-radius: 30px;
    background-color: rgb(247, 163, 8);
    
}